@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        @Html.ActionLink("List of Movies", "Index", "Movies")<br />
    </div>
</div>
